build/
.qt/

*.obj
*.pdb
*.ipch
*.idb
*.ilk
*.tlog/
*.pch
*.vcxproj.user

*.exe
*.dll
*.lib
*.exp

*.ninja
.ninja_log
.ninja_deps
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
qt.conf
Makefile

*.stackdump
*.suo
*.user
*.log
*.tmp
*.tmp/*

tmp/
*.bat
